@model PasswordModel

<div class="title">
    <h2>Mật khẩu của bạn an toàn như thế nào&#63;</h2>
    <h5 class="note">
        &#40;Vui lòng đọc kỹ
        <a href="/term">điều khoản</a>
        trước khi sử dụng ứng dụng&#33;&#41;
    </h5>
</div>
<br />

<div class="input">
    <form asp-controller="Home" asp-action="Index" method="post">
        <input id="password" asp-for="Password" type="password" placeholder="Nhập mật khẩu" class="input-password" />
        <button type="submit" >Kiểm tra</button>
    </form>
</div>

<div>
    <div class="show-analysis">
        <hr />
        <div class="text-center">
            Đánh giá mật khẩu
               @ViewBag.Result
        </div>
        <div>
            @ViewData["TopPassword"]
            <br />
            <p>Độ dài: @ViewData["LengthPassword"]</p>
            <p>Độ phức tạp: @ViewData["LengthPassword"]</p>
            <p>Thời gian để phá mật khẩu: ~ @ViewData["Time"]</p>
        </div>
    </div>
    
    <div class="show-guide">
        <hr />
        <p>Gợi ý tạo mật khẩu an toàn hơn:</p>
        <ul>
            <li>- Thêm chữ cái vào mật khẩu.</li>
            <li>- Thêm chữ số vào mật khẩu.</li>
            <li>- Thay một vài chữ thường thành chữ hoa.</li>
            <li>- Thay một vài chữ hoa thành chữ thường.</li>
            <li>- Thêm ký tự đặc biệt như:?\()[]...</li>
            <li>- Tăng độ dài mật khẩu.</li>
        </ul>

    </div>
</div>